/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #a3b18a; */
}

.animation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 ;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* ################################### UTILITY CLASSES ######################### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn{
    display: inline-block;
    margin-top: 2em;
    padding: 1em 1.5em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius:50px;
}

.btn-primary{
    color:#fff;
    background: #16a083;
}

.btn:hover{
    background: #075a48;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

/* ############################# NAVBAR STYLING ################################## */

/* ############ FOR DESKTOP ############# */

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    background: #fff;
    color: #000;
    width: 100%;
    opacity: 0.85;
    z-index: 999;
}

.navbar-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 64px;
}

.navbar .menu-items{
    display: flex;
    order: 2;
}

.navbar .menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.navbar .logo{
    order: 1;
    font-size: 3rem;
    font-weight: 600;
}

.navbar li a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    /* transition: color 0.3s ease-in-out; */
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}


.navbar li a:hover{
    color: #117964;
    transform: scale(1.1);
    /* font-weight: 700; */
    font-size: 2rem;
    /* cursor: pointer; */
}

/* ############################ SHOWCASE STYLING ########################## */

.showcase-area{
    height: 50vh;
    background: linear-gradient(rgba(240,240,240, 0.144),rgba(255,255,255,0.336)) ,url(./img/header-image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.showcase-area .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.showcase-area .showcase-container .main-heading{
    text-transform: uppercase;
}



/* ######################## ABOUT SECTION STYLING ############################## */

#about{
    padding: 50px 0;
    background: #f5f5f5;

}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}

#about h1{
    font-size: 3.2rem;
}

#about p{
    font-size: 1.6rem;
    color: #555;
}

#about .small{
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}

#about .about-img{
    flex: 1 1 400px;
    padding: 30px;
    transform: translate(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation{
    100%{
        transform: translate(0%);
    }
}

#about .about-text{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}


@keyframes about-text-animation{
    100%{
        transform: translate(0%);
    }
}

.about-img img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

/* ############################### CATEGORY SECTION STYLING ####################### */

#food{
    padding: 5rem 0 10rem 0;
}

#food h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
} 

#food .food-container{
    display: flex;
    justify-content: space-between;
}

#food .food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center
}

.img-container{
    margin: 0 1rem;
    position: relative;
}

.img-content{
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.img-content h3{
    font-size: 3rem;
    color: #fff;
}

.img-content a{
    font-family: 1.2rem;
}

.img-container::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.871);
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
  
}

/* #################################### FOOD MENU SEECTION STYLING #################################### */

.food-menu-heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #666;
}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}

.food-menu-img img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    margin-bottom: 3rem;
    justify-content: space-evenly;
}

.food-menu-description{
    margin: auto 1.5rem;
}

.food-title{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}

.food-menu-description p{
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}

.food-menu-description .food-prize{
    color: #117964;
    font-weight: 700;
}

/* ############################ REVIEW SECTION STYLING ######################### */

#review{
    padding: 5rem 3rem;
    background: #ebe8e8;
}

.review-title{
    color: #555;
    text-align: center;
    font-size: 3rem;
    font-size: 400;
}

.review-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 1rem;
}

.review-container .checked{
    color: #ff9529;
}

.review-box .review-text{
    margin: 1rem 0;
    color: #444;
}

.review-box{
    text-align: center;
    padding: 1rem;
}

.review-container .customer-image img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}

/* ######################################### CONTACT PAGE STYLING ################################ */

#contact{
    padding: 5rem 0;
    background: rgb(226, 226, 226);
}

.contact-container{
    display: flex;
    background: #fff;
}

.contact-image{
    width: 50%;
}

.contact-image img{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.form-container{
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.form-container input{
    display: block;
    width: 100%;
    border: none;
    padding: 1rem 0;
    margin: 1rem;
    outline: none;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
    color: #444;
    font-weight: 500;
}

.form-container textarea{
    display: block;
    padding: 1rem 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #444;
}

.form-container h2{
    font-size: 3rem;
    margin-bottom: 1rem ;
    color: #444;
    font-weight: 400;
}

.form-container a{
    font-size: 1.2rem;
}

/* ################################### FOOTER SECTION STYLING ###################### */

#footer h2{
    background: rgb(65, 65, 65);
    font-size: 2rem;
    color: #fff;
    padding: 3rem;
    text-align: center;
    font-weight: 500;
}




/* ###################################### MEFDIA QUARIES ################################### */

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }
   
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    
    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        height: 100vh;
        background: #fff;
        max-width: 300px;
        transform: translateX(-150%);
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        /* transform: rotate(-45deg); */
        display: none;
    }


    /* ##################### FOOD CATEGORY #################### */

    .food-container{
        flex-direction: column;
        align-items: stretch;
    }

    .food-container .food-type:not(:last-child){
        margin-bottom: 3rem;
    }

    .food-type{ 
        box-shadow: 5px 5px 10px 0px #aaa;
    }

    .img-container{
        margin: 0;
    }
}

/* ########## SMALL SCREEN #################### */

@media(max-width:500px){
    html{
        font-size: 50%;
    }

    .review-container{
        flex-direction: column;
        text-align: center;
    }

    .food-menu-item{
        flex-direction: column;
        text-align: center;
    }

    .food-menu-container img{
        margin: auto;
    }

    .form-container{
        width: 90%;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
    }


    .contact-image{
        width: 90%;
        margin: 3rem auto;
    }
}

/* ############### LANDSCAPE MODE ############# */


@media (orientation: landscape) and (max-height: 500px){
  .showcase-area{
    height: 50vmax;
  }
}